li class="list-group-item category-#{category.id}"
  span class="badge" = category.adverts.size
  = category.name
  p = link_to "Edit", edit_admin_category_path(category), class:"btn btn-primary btn-xs get_modal", remote: true
