.progress {
  display: none;
}

.advert_wrapper {
  margin-top: 15px;
  padding: 20px;
  background-color: rgba(210,255,200,.5); /*155,200,60*/
  border-radius: 4px;
}

.advert_wrapper:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
}

.delete-image {
    font-size: 15px;
    margin-right: 5px;
}

.image {
  margin-bottom: 5px;
}

.image-error {
  margin-top: 15px;
}
